<div
  *ngFor="let quiz of quizzes"
  class="bg-neutral-800 shadow-md rounded-lg p-6 mb-4"
>
  <h2 class="text-xl font-semibold text-blue-400">{{ quiz.title }}</h2>
  <p class="text-neutral-200 mt-2 line-clamp-2">{{ quiz.description }}</p>

  <div class="flex space-x-4 mt-4">
    <a
      routerLink="/quizzes/{{ quiz.id }}"
      class="text-blue-400 hover:underline"
    >
      View Quiz
    </a>

    <ng-container *ngIf="isOwner">
      <button
        (click)="onEditQuiz(quiz.id)"
        class="text-yellow-400 hover:underline cursor-pointer"
      >
        Edit Quiz
      </button>
      <button
        (click)="onDeleteQuiz(quiz.id)"
        class="text-red-400 hover:underline cursor-pointer"
      >
        Delete Quiz
      </button>
    </ng-container>
  </div>
</div>
