<div class="max-w-4xl mx-auto p-6 bg-neutral-800 rounded-lg shadow-l">
  <h1 class="text-3xl font-extrabold text-neutral-100 mb-10 text-center">
    Leaderboard
  </h1>
  @if(isLoading && !errorMessage){
  <p class="loading">Loading quiz data...</p>
  } @if(!isLoading && topUsers.length > 0){

  <div>
    <div class="row">
      <p>Lp</p>
      <p>Username</p>
      <p>Total solved quizzes</p>
    </div>
    @for(user of topUsers;track i; let i = $index){

    <div class="row">
      <p>{{ i + 1 }}</p>
      <p>{{ user.username }}</p>
      <p>{{ user.totalSolvedQuizzes }}</p>
    </div>
    }
  </div>
  } @if(!isLoading && topUsers.length === 0){

  <div>
    <p class="loading text-center">No user has completed a quiz.</p>
  </div>
  } @if(errorMessage){

  <div>
    <p class="error">{{ errorMessage }}</p>
  </div>
  }
</div>
